* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links {
    list-style-type: none;
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: pink;
    font-size: 24px;
}
